{% extends "layout/wiki_base.html" %}
{% block wiki_content %}
{% set name = handler.domain.ui.name|default(model.system.get('server.name')) %}
<!-- <div class="section" data-heading-extract-to="#menu-item-wiki_help">
  <div class="section__header">
    <h1 class="section__title" id="domain" data-heading>{{ _('Domain') }}</h1>
  </div>
  <div class="section__body typo">
    <p>每个用户可以创建自己的域。比如，老师可以为课程创建一个域，然后把题目和学生加入到此域中。再如，可以把域作为团队功能。</p>
    <p>通过合理的设置角色及其权限，可以把域设为公开或私有。</p>
    <p>默认域为 system，用户直接访问 {{ name }} 域名就会访问此域，点击 Hydro Logo 会从任意域跳转回 system 域。</p>
    <p>每个域的题库、讨论、训练以及比赛是独立且自治的。</p>
  </div>
</div> -->
<div class="section" data-heading-extract-to="#menu-item-wiki_help">
  <div class="section__header">
    <h1 class="section__title" id="compiler" data-heading>{{ _("Compilers' Version and Parameters") }}</h1>
  </div>
  <div class="section__body typo">
    <!-- <p>{{ name }} 使用 <a href="https://github.com/hydro-dev/Hydro/tree/master/packages/hydrojudge">HydroJudge</a> 进行评测，编译参数如下：</p> -->
    <p>Compilation's parameters are as follow:</p>
    {% if languages %}
      <blockquote><ul>
        {%- for k, v in languages -%}
          <li>{{ k }} <pre>{{ v }}</pre></li>
        {%- endfor -%}
      </ul></blockquote>
    {% endif %}
  </div>
</div>
<div class="section" data-heading-extract-to="#menu-item-wiki_help">
  <div class="section__header">
    <h1 class="section__title" id="limits" data-heading>{{ _('Limitations') }}</h1>
  </div>
  <div class="section__body typo">
    <p>In {I{ name }} by default, each problem has Time Limit of 1s and Memory Limitt of 256MB</p>
    <p>In {{ name }} for some problems, authors can change the Time Limit & Memory Limit to fit their statement</p>
  </div>
</div>
<div class="section" data-heading-extract-to="#menu-item-wiki_help">
  <div class="section__header">
    <h1 class="section__title" id="io" data-heading>{{ _('Input/Output') }}</h1>
  </div>
  <div class="section__body typo">
    <p>Unless specified, {{ name }} use standard I/O for input and output  </p>
  </div>
</div>
<div class="section" data-heading-extract-to="#menu-item-wiki_help">
  <div class="section__header">
    <h1 class="section__title" id="status" data-heading>{{ _('Judge Status') }}</h1>
  </div>
  <div class="section__body typo">
    <ul>
      <li><span class="record-status--text pending">Waiting</span> Your submission is currently inqueue</li>
      <li><span class="record-status--text progress">Fetched</span> Your submission has been fetched by the judger</li>
      <li><span class="record-status--text progress">Compiling</span> Your submission is being compiled</li>
      <li><span class="record-status--text progress">Judging</span> Your submission is being judged</li>
      <li><span class="record-status--text pass">Accepted</span> Your code passed all the tests</li>
      <li><span class="record-status--text fail">Wrong Answer</span> Your code's output is not correct</li>
      <li><span class="record-status--text fail">Time Limit Exceeded</span> Your code doesn't fit the Time Limit</li>
      <li><span class="record-status--text fail">Memory Limit Exceeded</span> Your code doesn't fit the Memory Limit</li>
      <li><span class="record-status--text fail">Runtime Error</span> Your code return a value different from 0 (array bounds, divide by zero,...)</li>
      <li><span class="record-status--text fail">Compile Error</span> Your code couldn't compile</li>
      <li><span class="record-status--text fail">System Error</span> Something is wrong with the judger/server (please let us know by posting a blog/asking a question)</li>
      <li><span class="record-status--text ignored">Canceled</span> Your submission has been canceled</li>
      <li><span class="record-status--text fail">Unknown Error</span> Strange things happened</li>
      <li><span class="record-status--text ignored">Ignored</span> Your submission was ignored</li>
    </ul>
    <blockquote class="note">If your submission got canceled/ignored, probably the admin had found out that there's another submission has the same code like yours.</blockquote>
  </div>
</div>
<div class="section" data-heading-extract-to="#menu-item-wiki_help">
  <div class="section__header">
    <h1 class="section__title" id="ce" data-heading>{{ _('Compile Error') }}</h1>
  </div>
  <div class="section__body typo">
    <p>There may be the following situations:</p>
    <blockquote><ul>
    <li>1. Submitting code but selected wrong language.</li>
    <li>2. Java main class name does not use "Main".</li>
    <li>3. For C/C++, check below.</li>
    <li>4. General compilation errors.</li>
    </ul></blockquote>
    
    <blockquote class="warn">
      <p>For C/C++ users：</p>
      <ul>
      <li>1. '__int64' should be written as 'long long' in GNU C++</li>
      <li>2. main() function should return 'int' instead of 'void'</li>
      <li>3. The variable i in the statement isn't a global variable, it'll become invalid after a new definement such as 'for(int i = 0...) {...}'.</li>
      <li>4. itoa() is not a general ANSI function （and there is no function in standard C/C++）</li>
      <li>5. %lf format in printf() isn't available and should be %f or %g</li>
      </ul>
    </blockquote>
  </div>
</div>
<div class="section" data-heading-extract-to="#menu-item-wiki_help">
  <div class="section__header">
    <h1 class="section__title" id="training" data-heading>{{ _('Training') }}</h1>
  </div>
  <div class="section__body typo">
    <p>We've carefully selected some topics to form a training plan. Click "Training" in the navigation bar to enter！</p>
  </div>
</div>
<div class="section" data-heading-extract-to="#menu-item-wiki_help">
  <div class="section__header">
    <h1 class="section__title" id="contest" data-heading>{{ _('Contest') }}</h1>
  </div>
  <div class="section__body typo">
    <p>In OI, the last submission will be counted as the result.</p>
    <p>In OI, highest total score is ranked first. Same score will be same rank.</p>
    <p>In ACM/ICPC, passed code will be counted as the result.</p>
    <p>In ACM/ICPC, the highest total number of problems solved is ranked first. If they're same, penalty will decide.</p>
  </div>
</div>
<div class="section" data-heading-extract-to="#menu-item-wiki_help">
  <div class="section__header">
    <h1 class="section__title" id="acratio" data-heading>{{ _('Accepted Ratio') }}</h1>
  </div>
  <div class="section__body typo">
    <p>Due to the pass rate is extremely low so {{ name }} does not provide the pass rate.</p>
  </div>
</div>
<div class="section" data-heading-extract-to="#menu-item-wiki_help">
  <div class="section__header">
    <h1 class="section__title" id="rp" data-heading>{{ _('RP Algorithm') }}</h1>
  </div>
  <div class="section__body typo">
    <p>RP can be obtained from topics, activities, competitions, etc.</p>
  </div>
</div>
<div class="section" data-heading-extract-to="#menu-item-wiki_help">
  <div class="section__header">
    <h1 class="section__title" id="pbmdiff" data-heading>{{ _('Difficulty Algorithm') }}</h1>
  </div>
  <div class="section__body typo">
    <p>The difficulty of a problem in {{ name }} is calculated base on number of submissions, pass rate and the submission running time and results of each submission.</p>
    <p>Therefore, please note the following：</p>
    <ul>
    <li>0. The greater the difficulty value, the harder the problem is.</li>
    <li>1. Some easy problems difficulty may be inaccurate; The problem difficulty will become more accurate if and only if a large number of submissions has been made.</li>
    <li>2. The earlier the evaluation result of the user code submitted, the greater the impact on the difficulty of the topic.</li>
    <li>3. The difficulty also based on algorithm so there may be inaccurate results.</li>
    </ul>
  </div>
</div>
<!-- <div class="section" data-heading-extract-to="#menu-item-wiki_help">
  <div class="section__header">
    <h1 class="section__title" id="upload" data-heading>{{ _('Dataset Format') }}</h1>
  </div>
  <div class="section__body typo">
    <p>详见<a href="https://hydro.js.org/docs/testdata.html">配置文档</a></p>
  </div>
</div> -->
<div class="section" data-heading-extract-to="#menu-item-wiki_help">
  <div class="section__header">
    <h1 class="section__title" id="lostpass" data-heading>{{ _('Forgot Password and/or Username') }}</h1>
  </div>
  <div class="section__body typo">
    <p>If you are unable to log in, please think carefully whether you have remembered your username or your password incorrectly before using Reset Password or Find Username.</p>
    <p>If you believe that your account has been stolen or you have forgotten your account and/or password, please <a href="{{ url('user_lostpass') }}">{{ _('Reset Password or Find Username') }}</a>。</p>
  </div>
</div>
{% endblock %}